@font-face {
    font-family: Dana;
    src: url('font/DanaFaNum-Medium.woff2');
}

:root {
    --full-dark: #0d0e11;
    --primary-light: #eee;
    --primary-dark: #1a1e25;
    --secondary-dark: #252c35;
    --secondary-dark-active: #4a4f57;
    --secondary-dark-hover: #5b5f68;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dana;
}

body {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
}

header div {
    background-color: var(--primary-dark);
    text-align: center;
    padding: 1rem;
}

header div h1 {
    font-size: 3rem;
    color: #e7b43c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}


section {
    margin-top: 3rem;
}

section .main {
    width: max-content;
    margin: 0 auto;
}

section .main .scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

section .scoreboard p {
    font-size: 1.3rem;
}

section .scoreboard div {
    display: grid;
    text-align: center;
    gap: 2rem;
}

section .scoreboard .weapon {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 2px dashed var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

section .scoreboard .weapon p {
    font-size: 7rem;
    margin-top: 1rem;
}

section .buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section .buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    width: 100%;
    height: 9rem;
    padding-top: 0.7rem;
    cursor: pointer;
    border-radius: .7rem;
    background-color: var(--secondary-dark-active);
    border: none;
    transition: .2s;
}

section .buttons button:hover {
    background-color: var(--secondary-dark-hover);
}

.modal {
    position: fixed;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.show {
    visibility: visible;
    opacity: 1;
}

.modal-container {
    background: var(--full-dark);
    z-index: 10;
    width: 16rem;
    padding: 2rem 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
}

.modal-container .title-modal {
    text-align: center;
}

.modal-container button {
    background: #ec9c06;
    border: none;
    padding: .7rem;
    text-align: center;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--primary-light);
    transition: .2s;
    font-weight: 500;
}

.modal-container button:hover {
    background: #cf8907;
}

.overlay {
    position: fixed;
    inset: 0;
    background: #181b25c2;
    width: 100%;
    z-index: 9;
}


@keyframes modal {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}


@media screen and (max-width: 568px) {
    header div h1 {
        font-size: 2.5rem;
        justify-content: space-between;
        gap: 0;
    }

    section {
        margin-top: 4.5rem;
    }

    section .main .scoreboard {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }

    section .scoreboard p {
        font-size: 1.2rem;
    }

    section .scoreboard .weapon {
        width: 10rem;
        height: 10rem;
    }

    section .scoreboard .weapon p {
        font-size: 6rem;
    }

    section .buttons {
        margin-top: 4rem;
    }

    section .buttons button {
        font-size: 4rem;
        width: 100%;
        height: 7rem;
        padding-top: 0.6rem;
    }
}

@media screen and (max-width: 378px) {
    header div h1 {
        font-size: 2rem;
    }

    section .main .scoreboard {
        gap: 1.5rem;
    }

    section .main .scoreboard div {
        gap: 1.5rem;
    }

    section .scoreboard p {
        font-size: 1rem;
    }

    section .scoreboard .weapon {
        width: 8rem;
        height: 8rem;
    }

    section .scoreboard .weapon p {
        font-size: 4.5rem;
    }

    section .buttons {
        margin-top: 5rem;
        gap: .5rem;
    }

    section .buttons button {
        font-size: 3.5rem;
        width: 100%;
        height: 6rem;
        padding-top: 0.5rem;
    }

    .modal-container {
        width: 80%;
        margin: 0 auto;
    }
}